<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar-color">
    <ion-buttons slot="start">
      <!-- ====== back button ====== -->
      <ion-back-button
        *ngIf="backButton"
        [defaultHref]="backButton"
        class="colors"
      ></ion-back-button>
      
      <!-- ====== dismiss modal ====== -->
      <ion-button (click)="dismissModal()" *ngIf="isModal">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>

      <ion-menu-button *ngIf="showMenu" menu="menu-content"></ion-menu-button>

    </ion-buttons>
    <ion-title>
      <strong style="color: rgb(0, 0, 0);">{{ title }}</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>
