<app-header></app-header>
<ion-toolbar>
  <ion-title style="font-weight: bold; font-family: 'poppins'; color: white;">Editar perfil</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()" style=" font-family: 'poppins'; color: white;">Cerrar</ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div class="d-flex-center">
    <form class="auth-form">

      <h2>Cambiar foto de perfil</h2>
        <ion-avatar>
        <img *ngIf="user()?.image" [src]="user()?.image" />
        <ion-icon *ngIf="!user()?.image" class="empty-icon" name="person-circle-outline" class="empty-icon"></ion-icon>
      </ion-avatar>
      
       <ion-button class="photo-btn" (click)="takeImage()" size="small" shape="round">
        <ion-icon name="camera-reverse-outline"></ion-icon>
      </ion-button>

      <h2>Cambiar nombre</h2>
      <small class="small">{{user().name}}</small>

      <!-- NAME -->
      <app-custom-input autocomplete="name" icon="person-outline" type="name" label="Nuevo nombre"></app-custom-input>

      <ion-button expand="block" fill="clear" shape="round" name="ios">
        Actualizar
      </ion-button>

    

    </form>
  </div>
</ion-content>