

ion-toolbar {
      --background:#020403;
        box-shadow: 1px 1px 1px #0c0c0c;
   }

h2{
    text-align: center;
    font-size: 18px;
    font-family: 'poppins';
    font-weight: bold;
    color: white;
}

app-custom-input{
  --background: aqua;
  color: red;
}

ion-button{
  --background: #ff5353;
  --color: white;
}
ion-button:hover{
    --background: #ff3f3f;
}

ion-button.close-button {
  font-family: 'poppins';
  color: white;
}

ion-button.close-button:hover {
--background: #000000;
}

ion-content {
 --background:#020403;
  height: 100vh;
 /*  overflow: hidden;
  --overflow: hidden; */ // <-- ¡este es crucial!
  --padding-bottom: 0;
}

ion-button.photo-btn {
    --background: #ff5e5e;
    margin-top: -30px;
}
ion-button.photo-btn:hover {
    --background: #ff1d1d;

}

ion-avatar{
   display: block;
  margin-left: auto;
  margin-right: auto;
  /* position: absolute; */
  /* O: margin: auto; */
  width: 120px;
  height: 120px;

}

.empty-icon{
   display: block;
  margin-left: auto;
  margin-right: auto;
  /* position: absolute; */
  /* O: margin: auto; */
  width: 120px;
  height: 120px;
  color: #434343;

}

.small{
  font-family: 'poppins'; 
  color: white;
  font-size: 16px;
}

h2{
  font-size: 18px;
}
