<app-header></app-header>
<ion-toolbar>
    <ion-buttons slot="secondary" id="open-modals">
    <ion-fab-button >
      <ion-icon name="albums-outline"></ion-icon>
    </ion-fab-button>
  </ion-buttons>
  <ion-buttons slot="primary" (click)="abrirFormulario()">
    <ion-fab-button >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-buttons>
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false" color="dark"></ion-menu-button>
  </ion-buttons>
  <ion-title style="font-weight: bold; font-family: 'poppins'; color: black;">Perfil</ion-title>
</ion-toolbar>
<ion-content fullscreen class="ion-padding">




  <!-- =====================REFRESCAR PAGINA MAPA================================ -->
  <!--  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Desliza para refrescar"></ion-refresher-content>
  </ion-refresher>   -->
  <!-- Mapa -->




  <div id="map"></div>
  
  <!-- =====================Botón flotante=================== -->
<!--   <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="abrirFormulario()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <!-- =================MODAL CARRETE======================= -->

  <ion-modal
    trigger="open-modals"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
    handleBehavior="cycle"
    (ionWillPresent)="isCarreteOpen = true"
    (ionWillDismiss)="isCarreteOpen = false"
  >
    <ng-template>
      <ion-content class="ion-padding">
        <div class="ion-margin-top">
          <ion-chip>
              <ion-avatar>
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-label>Avatar Chip</ion-label>
              <ion-icon name="close-circle"></ion-icon>
            </ion-chip>

            <ion-chip>
              <ion-icon name="pin" color="primary"></ion-icon>
              <ion-label>Icon Chip</ion-label>
              <ion-icon name="close"></ion-icon>
            </ion-chip>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>








<!-- open sheet modal sin boton solamente abrir mediante el desliz del usuario, 
quiero que SIEMPRE este en la pantalla pero cerrado y que se active cuando yo le de para que me deje moverle al mapa sin error, 
basicamente que pueda cerrar el modal pero siga estando en la pantalla para solo deslizar y volver a abrirlo para seguir mirando el Carrete
pero que me deje mover el mapa sin problemas, porque no me deja mover el mapa cuando el modal esta abierto.
 -->