/* ----------------- LOADING------------------------- */
ion-loading.custom-loading {
  --background: #e3edff;
  --spinner-color: #333333;


  color: #1c6dff;
}
/* ----------------------------------------- */
ion-content {
  --background: #ffffff;
  background-color: #ffffff;
  height: 100vh;
  overflow: hidden;
  --overflow: hidden; // <-- ¡este es crucial!
  --padding-bottom: 0;
}
// ---------------------------------------------------------------------
// MAPA DE IONIC
html, body {
  overscroll-behavior: none;
  overflow: hidden;
  height: 100%;
}

ion-app, ion-content {
  touch-action: none !important; // previene desplazamientos táctiles no deseados
}

// Contenedor del mapa
.map-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}
// Estilos para el mapa
// Asegúrate de que el mapa ocupe toda la pantalla

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


.toolbar-color{
  text-align: justify;
}


 ion-toolbar {
     --min-height: 40px; /* Ajusta este valor al tamaño deseado */
     height: var(--min-height); /* Aplica la altura definida */
      --background:#f3f4f8;
   }