/* ==================FAB BUTTON========================= */
ion-fab-button {
  --background: #70d1d1;
  --background-activated: #d36161;
  --background-hover: #a3e681;
  --border-radius: 30px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color:#dbffff;
     width: 44px;
     height: 44px;
 
}

/* ==================Carrete========================= */
ion-modal {
  --background: #f3f4f8;
  --border-radius: 35px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}
/* ----------------------------------------- */
ion-content {
  --background: #f3f4f8;
  background-color: #f3f4f8;
  height: 100vh;
  overflow: hidden;
  --overflow: hidden; // <-- ¡este es crucial!
  --padding-bottom: 0;
}
// ---------------------------------------------------------------------
// MAPA DE IONIC
html, body {
  overscroll-behavior: none;
  overflow: hidden;
  height: 100%;
}

ion-app, ion-content {
  touch-action: none !important; // previene desplazamientos táctiles no deseados
}

// Contenedor del mapa
.map-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}
// Estilos para el mapa
// Asegúrate de que el mapa ocupe toda la pantalla

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


.toolbar-color{
  text-align: justify;
}


 ion-toolbar {
      --background:#434343;
   }

ion-menu-button {
  color: white;
}