<!-- <app-header></app-header>
<ion-toolbar class="toolbar">

  <ion-buttons slot="secondary" id="open-modals">
    <ion-fab-button class="icon-albums">
      <ion-icon name="albums-outline"></ion-icon>
    </ion-fab-button>
  </ion-buttons>


  <ion-buttons slot="primary" (click)="abrirFormulario()">
    <ion-fab-button class="icon-duplicate">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-buttons>

  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>
  <ion-searchbar show-cancel-button="focus" placeholder="Search" class="custom"></ion-searchbar>
</ion-toolbar> -->
<ion-content fullscreen class="ion-padding">



  <!-- =====================REFRESCAR PAGINA MAPA================================ -->
  <!--  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Desliza para refrescar"></ion-refresher-content>
  </ion-refresher>   -->
  <!-- Mapa -->

  <div>
    <ion-toolbar>

      <ion-buttons slot="secondary" id="open-modals">
        <ion-fab-button class="icon-albums">
          <ion-icon name="albums-outline"></ion-icon>
        </ion-fab-button>
      </ion-buttons>


      <ion-buttons slot="primary" (click)="abrirFormulario()">
        <ion-fab-button class="icon-duplicate">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
      </ion-buttons>

      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-searchbar value="Value" class="custom" placeholder="Busca un articulo"></ion-searchbar>
    </ion-toolbar>
  </div>


  <div id="map">
  </div>

  <!-- =====================Botón flotante=================== -->
  <!--   <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="abrirFormulario()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <!-- =================MODAL CARRETE======================= -->


  <ion-modal trigger="open-modals" [backdropDismiss]="true" [initialBreakpoint]="0.10"
    [breakpoints]="[0.10, 0.45, 0.80, 0.85]" handleBehavior="cycle" (ionWillPresent)="isCarreteOpen = true"
    (ionWillDismiss)="isCarreteOpen = false">

    <ng-template>
      <ion-content class="carrete-content">

        <br>
        <div class="margenes">
          <h1 class="carre">Encuentra productos facilmente</h1>
          <p class="carre2">¡Aqui puedes encontrar productos de manera mas rapida!</p>

          <ion-row>
            <div class="segments">
              <ion-segment>
                <ion-chip color="primary" mode="ios" outline="true">
                  <ion-segment-button value="first" content-id="first" class="button1">Productos</ion-segment-button>
                  <ion-icon name="storefront-outline"></ion-icon>
                  <!-- <ion-label >Productos</ion-label> -->
                </ion-chip>
              </ion-segment>

              <ion-segment>
                <ion-chip color="warning" mode="ios" outline="true">
                  <ion-label>Proximamente</ion-label>
                  <!-- <ion-label>Descuentos</ion-label> -->
                  <!--  <ion-segment-button value="second" content-id="second">Descuentos</ion-segment-button> -->
                  <ion-icon name="pricetags-outline"></ion-icon>
                </ion-chip>
              </ion-segment>

              <ion-segment>
                <ion-chip color="success" mode="ios" outline="true">
                  <ion-label>Proximamente</ion-label>
                  <!--  <ion-label>Default</ion-label> -->
                  <!-- <ion-segment-button value="third" content-id="third">Nuevo</ion-segment-button> -->
                  <ion-icon name="wallet-outline"></ion-icon>
                </ion-chip>
              </ion-segment>
            </div>

          </ion-row>

          <ion-segment-view>
            <ion-segment-content id="first">

              <div class="carrete-horizontal">
                <div class="tarjeta" *ngFor="let product of products | slice:0:10">
                  <div class="mini-card" (click)="abrirInfoWindow(product)">
                    <img [src]="product.image" [alt]="product.name" />
                    <div class="product-name"><small>{{ product.name }}</small></div>
                    <!--  <div class="product-name">${{ product.price }}</div> -->
                  </div>
                </div>
              </div>
              <h1 class="ola">Hola, aqui aun no hay informacion disponible..</h1>
            </ion-segment-content>

            <ion-segment-content id="second">descuentos</ion-segment-content> <!-- Contenido solo para descuentos -->

            <ion-segment-content id="third">Premium</ion-segment-content> <!-- Contenido solo para premium -->


          </ion-segment-view>
        </div>
        <!-- <hr style=" background-color:black; width: 120%; margin-left: -20px;"> -->

      </ion-content>
    </ng-template>
  </ion-modal>




</ion-content>








<!-- open sheet modal sin boton solamente abrir mediante el desliz del usuario, 
quiero que SIEMPRE este en la pantalla pero cerrado y que se active cuando yo le de para que me deje moverle al mapa sin error, 
basicamente que pueda cerrar el modal pero siga estando en la pantalla para solo deslizar y volver a abrirlo para seguir mirando el Carrete
pero que me deje mover el mapa sin problemas, porque no me deja mover el mapa cuando el modal esta abierto.
 -->