/* ----------------- NAV DE ARRIBA------------------------- */
.toolbar-class{
  background-color: #333;
  background-color: #555;
}


/* ----------------------------------------- */
ion-content {
  --background: #3e3e3e;
  background-color: #3e3e3e;
  height: 100vh;
  overflow: hidden;
  --overflow: hidden; // <-- ¡este es crucial!
  --padding-bottom: 0;
}
// ---------------------------------------------------------------------
// MAPA DE IONIC
html, body {
  overscroll-behavior: none;
  overflow: hidden;
  height: 100%;
}

ion-app, ion-content {
  touch-action: none !important; // previene desplazamientos táctiles no deseados
}

// Contenedor del mapa
.map-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}
// Estilos para el mapa
// Asegúrate de que el mapa ocupe toda la pantalla

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* --------------------------------------------------------------------- */
      //FONDO DE PANTALLA
.letters {
  color: #3e3e3e; /* letras blancas */
  font-weight: 100; /* sin px */
  font-family: 'Patrick Hand', cursive;
  font-size: clamp(1rem, 4vw, 1.5rem);
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: block;
  width: 100%;
  margin-top: 40px;
}




