ion-card {
    gap:100px;
    padding: 20px 0;
    border-radius: 15px;
}

ion-content{
    --padding-bottom: 70px;
}

 ion-toolbar {
     --min-height: 40px; /* Ajusta este valor al tamaño deseado */
     height: var(--min-height); /* Aplica la altura definida */
     --background:#353535;
   }
