<app-header></app-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>
  <ion-title style="font-weight: bold; font-family: 'poppins'; color: rgb(255, 255, 255);">Ventas</ion-title>
</ion-toolbar>
<ion-content fullscreen class="ion-padding">

  <!-- ===================REFRESCAR======================== -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- ===============TARJETA DE PRODUCTOS Y GANANCIAS======================= -->
  <ion-card mode="ios" class="d-flex-center ion-text-center" *ngIf="!loading && products.length">
    <!--  <h2 class="ion-text-center">Productos y Ganancias</h2> -->
    <ion-col size="2">
      <div>
        <ion-card class="card-header">
          <p>{{products.length}}</p>
          <h6 style="font-weight: bold;">Productos</h6>
        </ion-card>
      </div>
      <div>
        <ion-card class="card-header">
          <p>{{getProfits() | currency: 'USD'}}</p>
          <h6 style="font-weight: bold;">Ganancias</h6>
        </ion-card>
      </div>
    </ion-col>
  </ion-card>

  <!-- ============ PRODUCTOS ============ -->
  <ion-list *ngIf="!loading" class="product-item">
    <ion-item-sliding class="product-item2" *ngFor="let p of products">
      <ion-item >
        <ion-avatar slot="start">
          <img [src]="p.image" class="img-class" />
        </ion-avatar>
        <ion-label>
          <div class="name">{{p.name}}</div>
          <div class="data">
            <strong>Precio: {{p.price | currency: 'USD'}}</strong>  <br>
            <strong>Unidades Vendidas: {{p.soldUnits}}</strong> 
          </div>


          <ion-chip color="success">Ganancia: {{p.price * p.soldUnits | currency: 'USD'}}</ion-chip>

        </ion-label>
      </ion-item>
      <!-- ======================OPCIONES LATERAL IZQUIERDO========================== -->
       <ion-item-options side="start">
        <!-- =========Archivar========= -->
        <ion-item-option color="medium" (click)="confirmArchiveProduct(p)">
          <ion-icon class="option-btn" name="archive-outline"></ion-icon>
        </ion-item-option>
        <!-- =============== -->
       </ion-item-options>

   <!-- ======================OPCIONES LATERAL DERECHO========================== -->
      <ion-item-options>
        <!-- ====== EDITAR ====== -->
        <ion-item-option (click)="addUpdateProduct(p)" color="primary">
          <ion-icon class="option-btn" name="create-outline" ></ion-icon>
        </ion-item-option>
        <!-- ====== ELIMINAR ====== -->
        <ion-item-option (click)="confirmDeleteProduct(p)" color="danger">
          <ion-icon class="option-btn" name="trash-outline"></ion-icon>
        </ion-item-option>
        <!-- ====== VER ====== -->
        <!--  <ion-item-option > 
          <ion-icon class="option-btn" name="eye-outline"></ion-icon>
        </ion-item-option> -->

        <!-- (click)="viewProduct(p)" -->
         <!-- ============================== -->
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- =============== LOADING ===============  -->
  <ion-list *ngIf="loading" >
    <ion-item class="product-item" *ngFor="let p of [1,1,1,1,1,1]" >
      <ion-avatar slot="start">
        <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <div>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- =============== SIN PRODUCTOS DISPONIBLES =============== -->
  <div *ngIf="!loading && !products.length" class="empty">
    <ion-icon name="bag-outline"></ion-icon>
    <h3>No hay productos disponibles</h3>
  </div>

  <!-- ============ NUEVO PRODUCTO ============ -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addUpdateProduct()" style="--background: #2d77ff">
      <ion-icon class="color-boton" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>