 ion-toolbar {
     --min-height: 40px; /* Ajusta este valor al tamaño deseado */
     height: var(--min-height); /* Aplica la altura definida */
     --background:#619def;
   }

app-header{
  margin: 100px;
}

.gap{
    gap: 5px;
    color: red;
    display: grid;
}