ion-item{
    font-size: 14px;
    color: rgb(255, 255, 255);
    --background:#434343;

    ion-icon {
        color: rgb(255, 255, 255);
    }

    &.active {
        color: var(--ion-color-primary);

        ion-icon {
            color: rgb(255, 255, 255);
        }
    }
}

h4 {
    margin-top: 5px;
    font-weight: bold;
   
}

ion-menu {
    --width: 254px;
    --min-width: 254px;
    outline: none;
    
    }

ion-avatar {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    z-index: 11;
    background: transparent;
}

.empty-icon{
    font-size: 100px;
}

.avatar {
    border-radius: 50px;
    padding-top: 45px;
    height: 125px;
    position: relative;
    left: 60px;
    margin: -20px;
}
.avatar img {
    position: relative;
    top: 22px; /* ajustar los valores para mover la imagen */
    left: -40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    border: #000000 2px solid;
}

.avatar2 {
    border-radius: 50px;
    padding-top: 45px;
    height: -125px;
    position: relative;
    left: 60px;
    margin: -20px;
}
.avatar2 img {
    top: 52px; /* ajustar los valores para mover la imagen */
    left: -40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: grid;
    border: #000000 2px solid;
    z-index: 12;
}

ion-list{
  
   background-color: #434343;
}

#imgDeAvatar {
    height: 26px;
    width:  26px;
    margin-right: 27px;
}


 ion-toolbar {
     --min-height: 40px; /* Ajusta este valor al tamaño deseado */
     height: var(--min-height); /* Aplica la altura definida */
      --background:#434343;

   }

   ion-content {
    --background:#434343;
   }



ion-icon#colors1,
ion-icon#colors2,    
ion-icon#colors3,
ion-icon#colors4,
ion-icon#colors5 {
    font-size: 16px;
    border-radius: 50%;
    margin: 2%;
    padding: 2%;
    margin-left: -5px;
    
}

/* --background:#434343; PARA FONDO DE LOS BOTONES, SE QUEDAN CON ESOS COLORES*/

ion-icon#colors1 {
    color: #49aaff;
    background-color: #e0fffd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: -5px;
}

ion-icon#colors2 {
    color: #9549ff;
    background-color: #c8baff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

ion-icon#colors3 {
    color: #ffe449;
    background-color: #fcffd6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

ion-icon#colors4 {
    color: #e20404;
    background-color: #ff7272;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

ion-icon#colors5 {
    color: #e20404;
    background-color: #ff7272;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* ion-icon#colors1:hover,
ion-icon#colors2:hover,
ion-icon#colors3:hover,
ion-icon#colors4:hover,
ion-icon#colors5:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

} */

/* ion-icon#colors4 {
    font-size: 18px;
    color: #92ff49;
    background-color: #cbffcb;
    border-radius: 50%;
    margin: 1%;
    padding: 1%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin-left: -5px;
    
}

ion-icon#colors5 {
    font-size: 18px;
    color: #35a509;
    background-color: #ccffa1;
    border-radius: 50%;
    margin: 1%;
    padding: 1%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin-left: -5px;
    
} */