ion-toolbar {
     --min-height: 40px; /* Ajusta este valor al tamaño deseado */
     height: var(--min-height); /* Aplica la altura definida */
     --background:#353535;
   }



.custom-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgb(107, 107, 107);
  overflow: hidden;
  position: relative;
  background-color: rgb(68, 68, 68);

  
  .card-image {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10px;
    left: 20%;
    transform: translateX(-50%);
    color: whitesmoke;
  }

  ion-card-header {
    padding: 8px;
    text-align: center;
  }

  ion-card-title {
    font-size: 0.9em;
    color: rgb(20, 138, 255);
    margin: 0;
  }
}