<app-header></app-header>
<ion-toolbar class="toolbar">

  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>
  <ion-title style="font-weight: bold; font-family: 'poppins'; color: rgb(255, 255, 255);">Inicio</ion-title>
</ion-toolbar>

<ion-content>
  <div class="d-flex-center">
    <form class="auth-form">
      <ion-grid>
        <ion-row>
          <ion-card class="custom-card-perfil" *ngFor="let item of menu" (click)="navigateTo(item.route)" button>
            <ion-icon [src]="item.icon" class="card-image"></ion-icon>
            <ion-card-header>
              <ion-chip color="secondary">{{ item.title }}</ion-chip> <!-- Aqui debe ir el nombre del User -->
            </ion-card-header>
          </ion-card>
          <ion-col size="4" *ngFor="let item of menuItems">
            <ion-card class="custom-card" (click)="navigateTo(item.route)" button>
              <ion-icon [src]="item.icon" class="card-image"></ion-icon>
              <!-- o   <ion-img [src]="item.icon || item.imageUrl" alt="Icono del menú" class="card-image"></ion-img> -->
              <ion-card-header>
                <ion-label>{{ item.title }}</ion-label>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button class="ibutton" expand="block" fill="clear" shape="round" name="ios">Ver mas</ion-button>

      <div>
        <ion-item button class="ver-mas">
          <ion-icon slot="start" name="document-outline"></ion-icon>
          <ion-label>Terminos & Condiciones</ion-label>
        </ion-item>

        <ion-item button class="ver-mas">
          <ion-icon slot="start" name="help-outline"></ion-icon>
          <ion-label>Ayuda</ion-label>
        </ion-item>
      </div>
    </form>
  </div>
</ion-content>