<ion-toolbar></ion-toolbar>
<app-header title="Menú" class="color">
  <ion-icon slot="center" name="add"></ion-icon>
</app-header>

<ion-content>
  <ion-card class="custom-card-perfil" *ngFor="let item of menu" (click)="navigateTo(item.route)">
    <ion-icon [src]="item.icon" class="card-image"></ion-icon>
      <ion-card-header>
      <ion-card-title>{{ item.title }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of menuItems">
        <ion-card class="custom-card" (click)="navigateTo(item.route)">
          <ion-icon [src]="item.icon" class="card-image"></ion-icon> <!-- o   <ion-img [src]="item.icon || item.imageUrl" alt="Icono del menú" class="card-image"></ion-img> -->
          <ion-card-header>
            <ion-card-title>{{ item.title }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>