ion-toolbar {
      --background:#434343;
   }

h2{
    text-align: center;
    font-size: 18px;
    font-family: 'poppins';
    font-weight: bold;
    color: white;
}

app-custom-input{
  --background: aqua;
  color: red;
}

ion-button{
  --background: #ff5d5d;
  --color: white;
}
ion-button:hover{
    --background: #ff4747;
}


ion-content {
 --background:#434343;
  height: 100vh;
 /*  overflow: hidden;
  --overflow: hidden; */ // <-- ¡este es crucial!
  --padding-bottom: 0;
}

ion-button.photo-btn {
    --background: #ff5e5e;
}
ion-button.photo-btn:hover {
    --background: #ff1d1d;

}

ion-avatar{
   display: block;
  margin-left: auto;
  margin-right: auto;
  /* position: absolute; */
  /* O: margin: auto; */

}

.small{
  font-family: 'poppins'; 
  color: white;
  font-size: 16px;
}

h2{
  font-size: 18px;
}