<app-header></app-header>
<ion-buttons slot="primary">
</ion-buttons>
<app-header backButton="./" title="Editar Usuario"></app-header>

<ion-content [fullscreen]="true">
  <div class="d-flex-center">
    <form class="auth-form">
      <h2>{{user().name}}</h2>

      <!-- NAME -->
      <app-custom-input autocomplete="name" icon="person-outline" type="name" label="Nuevo nombre"></app-custom-input>

      <ion-button expand="block" fill="clear" shape="round" name="ios">
        Actualizar
      </ion-button>

      <ion-avatar style="margin-left: 10px;">
        <img *ngIf="user()?.image" [src]="user()?.image" />
        <ion-icon *ngIf="!user()?.image" class="empty-icon" name="person-circle-outline"></ion-icon>
      </ion-avatar>

    </form>
  </div>
</ion-content>