<app-header></app-header>



<div class="fixed-toolbar">
  <ion-toolbar>
    <!--  (click)="openModalnotificaciones()" -->
    <ion-buttons slot="secondary">
      <ion-button expand="block" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="notifications-outline" style="color: rgb(255, 255, 255);"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="secondary">
      <ion-button expand="block" fill="clear" shape="round" (click)="openSettings()">
        <ion-icon slot="icon-only" name="settings-outline" style="color: rgb(255, 255, 255);"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" class="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="perfil-title">Perfil</ion-title>
  </ion-toolbar>
</div>

<ion-content class="ion-padding-top ion-text-center">
  <!-- ======================REFRESCAR PAGINA========================================== -->
  <!--   <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Desliza para refrescar"></ion-refresher-content>
  </ion-refresher> -->
  <!-- =======================Imagen del perfil===================================== -->
  <ion-avatar style="margin-left: 10px;">
    <img *ngIf="user()?.image" [src]="user()?.image" />
    <ion-icon *ngIf="!user()?.image" class="empty-icon" name="person-circle-outline"></ion-icon>
  </ion-avatar>
  <!-- ==============================CONTADOR DE PRODUCTOS Y SEGUIDORES=================================== -->
  <h2 class="products" *ngIf="!loading && products.length">{{products.length}}</h2>
  <p class="Publicaciones">publicaciones</p>

  <h2 class="seguidores"><!-- Aqui iran los seguidores --></h2>
  <p class="seguidores2">seguidores</p>
  <!--===================NOMBRE DEL USUARIO Y ACCIONES======================-->
  <div>
    <h2 class="userName">{{user().name}}</h2>
    <ion-chip color="primary" class="vendedor">Vendedor</ion-chip>
    <ion-chip color="tertiary" (click)="actPerfil()" class="vendedor2">Editar perfil</ion-chip>
  </div>
  <!-- ================================================================================== -->
  <!--  -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <!-- =====================================SEGMENTOS DE TODO Y FAVORITOS============================================================= -->

  <div class="segmentos">
    <ion-segment color="light" [(ngModel)]="selectedSegment">
      <ion-segment-button value="first" content-id="first">
        <ion-label>
          <ion-icon name="grid-outline" class="icons"></ion-icon>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="second" content-id="second">
        <ion-label>
          <ion-icon name="bookmarks-outline" class="icons"></ion-icon>
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>


  <!--   <div class="segmentos">
   <ion-segment color="light"> 
    <ion-segment-button value="first" content-id="first" style="color: rgb(129, 129, 129);">
      <ion-label >
         <ion-icon name="grid-outline" class="icons" ></ion-icon>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="second" content-id="second" style="color: rgb(129, 129, 129);">
      <ion-label>
        <ion-icon name="bookmarks-outline" class="icons"></ion-icon>
  

       </ion-label>
    </ion-segment-button>
  </ion-segment>
 </div> -->

  <!-- <ion-icon name="chevron-down-outline"></ion-icon> -->
  <!--  <ion-icon name="bookmarks" style="width: 20px; height: 20px;">NECESITO QUE CUANDO CLICKEE APAREZCA ESTE Y DESAPAREZCA EL OTRO</ion-icon> -->

  <!-- ===================================================================================================== -->





  <ion-segment-view style="color: white;">
    <ion-segment-content id="first">
      <div class="profile-gallery">
        <div class="gallery-grid">
          <ng-container *ngFor="let p of products">
            <img *ngIf="p.image" [src]="p.image" class="gallery-img" />
          </ng-container>
        </div>
      </div>
    </ion-segment-content>




    <!-- <ion-segment-content id="second">Aqui ira la seccion de favoritos..</ion-segment-content> -->
  </ion-segment-view>
  <br>





  <!--  <ion-button expand="block" (click)="presentToast('middle')">Present Toast At the Middle</ion-button>

  <ion-button id="open-toast">Open Toast</ion-button>
  <ion-toast message="This toast can be swiped to dismiss" trigger="open-toast" swipeGesture="vertical"
    position="bottom" positionAnchor="footer"></ion-toast> -->

</ion-content>