*{
    font-family: 'poppins';
      overflow: hidden;
  --overflow: hidden; // <-- ¡este es crucial!
}

ion-avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto;
   /*  transition: transform 0.3s ease; */
    border: 0.1px solid rgb(0, 0, 0);

}

ion-icon.empty-icon {
       width: 122px;
    height: 122px;
    margin: 0 auto;
    margin-left: -11px;
   margin-top: -11px;
   
}

ion-item {
    --padding-top: 15px;
}

.empty-icon{
    font-size: 140px;
    opacity: 30%;
}

 ion-toolbar {
      --background:#434343;
   }

ion-menu-button.menu{
    --color: rgb(255, 255, 255);
}


ion-chip.editar-boton{
  margin-top: 25px;
  display: flex;
     display: block;
    width: 90px;
    left: 100px;
    }

.vendedor{
    position: absolute;
   margin-right: 120px;
     margin-top: 25px;
        display: block;
}