ion-avatar {
    width: 140px;
    height: 140px;
    margin: 0 auto;
}

.photo-btn {
    position:relative;
    bottom: 25px;
    --background: rgb(237, 163, 237);
}

h2{
    margin-bottom: 0;
}

ion-item {
    --padding-top: 15px;
}

.empty-icon{
    font-size: 140px;
    opacity: 30%;
}

 ion-toolbar {
     --min-height: 40px; /* Ajusta este valor al tamaño deseado */
     height: var(--min-height); /* Aplica la altura definida */
      --background:#353535;
   }