<ion-toolbar></ion-toolbar>
<app-header [isModal]="true"  [title]="product ? 'Actualizar Producto' : 'Agregar Producto'"></app-header>
<ion-content>
  <form [formGroup]="form" class="ion-padding ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit()">

    <ion-avatar *ngIf="form.value.image">
      <img [src]="form.value.image" />
    </ion-avatar>
    <ion-icon class="image-icon" *ngIf="!form.value.image" name="image-outline"></ion-icon> <br>

    <ion-button (click)="takeImage()" mode="ios" size="small" shape="round" class="img-button">
      Tomar/Seleccionar
    </ion-button>

    <!-- NAME -->
    <app-custom-input
      autocomplete="name"
      [control]="form.controls.name"
      type="text"
      label="Nombre"
    ></app-custom-input>

    <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
      <div *ngIf="form.controls.name.errors?.['required']">Este campo es requerido.</div>
      <div *ngIf="form.controls.name.errors?.['minlength']">Mínimo 4 caracteres.</div>
    </div>

    <!-- PRICE -->
    <app-custom-input
      [control]="form.controls.price"
      type="number"
      label="Precio"
      (ionInput)="setNumberInputs()"
    ></app-custom-input>

    <!-- SOLD UNITS -->
    <app-custom-input
      [control]="form.controls.soldUnits"
      type="number"
      label="Unidades vendidas"
      (ionInput)="setNumberInputs()"
    ></app-custom-input>

    <!-- DESCRIPTION -->
    <app-custom-input
      [control]="form.controls.descripcion"
      type="text"
      label="Descripción"
    ></app-custom-input>

    <!-- TELEFONO -->
    <app-custom-input
      [control]="form.controls.telefono"
      type="tel"
      label="Teléfono de contacto"
    ></app-custom-input>

    <div class="validators" *ngIf="form.controls.telefono.errors && form.controls.telefono.touched">
      <div *ngIf="form.controls.telefono.errors?.['required']">Este campo es requerido.</div>
    </div>

   <!--  <input type="hidden" formControlName="lat">
    <input type="hidden" formControlName="lng">
    <button type="button" (click)="usarMiUbicacion()" class="btn-ubicacion">
      📍 Usar mi ubicación actual
    </button>

    <div *ngIf="miDireccion" style="margin-top: 10px; font-family: sans-serif;">
      <strong>Dirección actual:</strong><br />
      {{ miDireccion }}
    </div> -->
    <!-- COORDINATES (Readonly) -->
    <div id="mini-map" style="height: 30vh; width: 100%; margin-top: 15px; border-radius: 10px;"></div>
    <ion-button id="botonPSN" mode="ios" class="ion-margin" type="submit">
      {{product ? 'Actualizar' : 'Agregar'}}
      <ion-icon slot="start" name="add-circle-outline"></ion-icon>
    </ion-button>
  </form>
</ion-content>